.skills-highlights { list-style-type: "★"; }
.navbar-wrapper  >   {
     :not(.navbar-scroll) {

	background-color: rgba(0, 0, 0, .2);
     }


}
.landing-page .navbar-default.navbar-scroll{
    background: rgba(255, 255, 255, .75);

}

.body{
    font-size: 14px;

}
.landing-page section p {
    font-size: 14px;
}

.landing-page section {
    color: #aeaeae;
    font-size: 14px;
}
// .landing-page .navbar-scroll.navbar-default .nav li a {
//     color: white;
//     // background: rgba(255, 0, 0, .5);
// }
// .nav {
//     .navbar-right {
// 	background: #3385FF;
// 	// background-color: black;
//     }
// }
// .nav {
//     .navbar-brand {
// 	color: #fff;
// 	height: auto;
// 	display: block;
// 	font-size: 14px;
// 	background: #3385FF;
// 	padding: 15px 20px;
// 	border-radius: 0 0 5px 5px;
//     }
// }
// .landing-page {
//     .navbar-default {

// 	background-color: white;
// 	border-color: transparent;

//     }
// }
